.wave-effect{
  cursor: pointer;
  background: transparent;
  background-image: url("/public/bg-fill-wave.jpg");
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: .7s ease;
}

.wave-effect:hover{
  background-position: center;
  color: white;
  transition: .7s;
}

.wave-effect{
  filter: hue-rotate(0deg);
}